CLIENT_ID=YourGithubProvidedClientId
CLIENT_SECRET=YourGithubProvidedClientSecret
SECRET_KEY=YourSelfGeneratedSuperSecretKey
POLLING_APP_URL=http://127.0.0.1:8000

TEST_USERNAME=YourGithubUserName
TEST_PASSWORD=YourGithubPassword